nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}


/* Logo Principal */

.logoPrincipal{
    display: flex;
    justify-content: center;
}

.slogan{
    text-align: center;
}


/* CHECKS */

.square-check li{
    list-style: none;
}

.square-check i{
    position: relative;
    margin: 0px -30px;
}

.square-check p{
    margin-top: -24px;
    position: relative;
}

/* ICONS CENTRAL*/

#dental-iconos{
    padding: 0px 0px 0px 0px;
}

#dental-iconos div{
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.contenido-iconos{
    padding: 20px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#icono-person{
    border: none;
}

.contenido-iconos div h6{
    color: black;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido-iconos div p{
    color: gray;
    font-size: 15px;
}



/* Navbar css */

#espacio {
    margin-right: 20px;
    padding-right: 20px;
}

#account{
    margin-left: 1px;
    padding-left: 1px;
}

#icon-account{
    margin-left: 23px;
    padding-left: 23px;
}


.division-line {
    margin: 2rem 0;
    color: #4283b4;
    border: solid 1px #4283b4;
}

.division{
    position: relative;
    top: -800%;
}

.hover12 {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover12:hover {
    opacity: .5;
}

.textos{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Banner */

.banner{
    width: 1250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 6px;
    margin: auto;
    background-image: url('banner.png');

}

.banner-items{
    text-decoration: none;
}

.encabezados{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.Eslogan-main{
    color:#53c72c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*:::::Pie de Pagina*/

.dental-footer h3 {
    margin: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 9px;
    padding: 10px;
}

.dental-footer {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #333;
    color: #d6d6d6;
}

.dental-footer img{
    padding: 40px;
}

/* RESPONSIVE */

.contenido-iconos div{
    flex-direction: column;
}


.contenido-iconos div{
    border: none;
}

