nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.logoPrincipal{
    display: flex;
    justify-content: center;
}

.slogan{
    text-align: center;
}

.personas1{
    background-repeat: no-repeat;
    background-position: 200px 200px;
}

/* ICONS CENTRAL*/

#dental-iconos{
    padding: 0px 50px;
    background: rgba(77, 77, 92, 0.6);
}

.contenido-iconos{
    padding: 20px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#icono-person{
    border: none;
}

.contenido-iconos div h6{
    color: black;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido-iconos div p{
    color: gray;
    font-size: 15px;
}

/* #dental-icons{
    padding: 20px 25px;
    text-align: center;
    display: flex;    
    justify-content: center;
} */

/* }

#dental-icons div{
    padding: 20px 15px;
}

#dental-icons div h4{
    color: black;
    font-size: 20px;
    margin: 5px 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#dental-icons div p{
    color: grey;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#dental-icons div i{
    color: grey;
} */


/* Navbar css */

#espacio {
    margin-right: 20px;
    padding-right: 20px;
}

#account{
    margin-left: 1px;
    padding-left: 1px;
}

#icon-account{
    margin-left: 23px;
    padding-left: 23px;
}


.division-line {
    margin: 2rem 0;
    color: #4283b4;
    border: solid 1px #4283b4;
}

.division{
    position: relative;
    top: -800%;
}

.hover12 {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover12:hover {
    opacity: .5;
}

.textos{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Banner */

.banner{
    width: 1250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 6px;
    margin: auto;
    background-image: url('banner.png');

}

.Mayusculas{
    text-align: initial;
    margin-left: 100px;
    top: 20px;
    font-size: 30px;
    position: relative;
    color: green;
}

.argumento{
    text-align: initial;
    margin-left: 150px;
    top: 5px;
    font-size: 18px;
    position: relative;
    color: green;   
    
}

.gente{
    position: relative;
    width: 500px;
    height: 150px;
    padding-right: 180px;
    top: -106px;
    
}

.banner-items{
    text-decoration: none;
}

.encabezados{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.Eslogan-main{
    color:#53c72c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*:::::Pie de Pagina*/

.casa-footer h3 {
    margin: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 9px;
    padding: 10px;
}

.casa-footer {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #333;
    color: #d6d6d6;
}

.casa-footer img{
    padding: 40px;
}

/* RESPONSIVE */



.contenido-iconos div{
    border: none;
}

